/Data_to_process/wikiner_data_files/index_ptwiki-latest.db
/Data_to_process/wikiner_data_files/ptwiki-latest-page.db
/Data_to_process/wikiner_data_files/ptwiki-latest-page.sql
.DS_Store
Data_to_process/wikimapper_data/index_ptwiki-latest.db
Data_to_process/wikimapper_data/ptwiki-latest-page.db
Data_to_process/wikimapper_data/ptwiki-latest-page.sql
/Grapfs
/Data_to_process/wikiner_data_files/mag/
/__pycache__
/.idea
/data